{:kotoba.app/id "cloud.itonami.isic-0111", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifk6dszoxrepxzhofgqkcprl7hsadb3hsywjx4l5ailiitq6chcma", :kotoba.app/embed-url "ipfs://bafkreifk6dszoxrepxzhofgqkcprl7hsadb3hsywjx4l5ailiitq6chcma", :published {:archive "https://kotobase.net/ipfs/bafkreifk6dszoxrepxzhofgqkcprl7hsadb3hsywjx4l5ailiitq6chcma", :size 72274, :put-status 201, :get-status 200, :at "2026-08-15T12:55:33.350Z"}}
